numpy
moviepy
scipy
scikit-learn
eventlet
Flask-SocketIO==4.3.2
python-engineio==3.13.2
python-socketio==4.6.0
Flask==2.0.3
Werkzeug==2.0.3
pyedflib
mne
pylsl
# liblsl via https://github.com/sccn/liblsl/releases, use latest ubuntu on debian